<div>
    <h1>Registro</h1>
    <form id="registerForm">
        <label>Nombre</label>
        <input name="first_name"> 
        <br/>
        <label>last_name</label>
        <input name="last_name"> 
        <br/>
        <label>email</label>
        <input name="email"> 
        <br/>
        <label>age</label>
        <input name="age"> 
        <br/>
        <label>password</label>
        <input name="password"> 
        <br/>
        <input type="submit">
    </form>
</div>

<script src="./../../public/js/register.js">